#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*--------------------------------------------------------------------------------*/
/* Login CSS */
.access {
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
}
.access h2 {
  color: #FF69B4;
  margin-bottom: 30px;
  align-self: center;
}
.login {
  background-color: #333;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.login h3 {
  color: #004E59;
  background-color: #03B4CE;
}
.login input {
  width:80%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.login button {
  width: 50%;
  padding: 10px;
  background-color: #004E59;
  color: #03B4CE; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login button:hover {
  background-color: #03B4CE;
  color: #004E59;
}
.login a {
  color: #03B4CE ;
}
.login a:hover {
  text-decoration: underline;
}
.loggedIn {
  display: grid;
  justify-content: center;
  width: 100vw;
}
.loggedIn h2 {
  color: #004E59;
  background-color: #03B4CE;
  margin-bottom: 30px;
  min-height: 50px;
  align-self: center;
  padding: 20px;

}
.loggedIn p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 20px;
}
.loggedIn ul {
  list-style: circle;
  padding-left: 20px;
}
.loggedIn li {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 10px;
}
.loggedIn button {
  position: relative;
  width: fit-content;
  margin: 15px;
  background-color: #004E59;
  color: #03B4CE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.loggedIn button:hover {
  background-color: #03B4CE;
  color: #004E59;
}

/*--------------------------------------------------------------------------------*/
/* SignUp CSS */
.signUp h3 {
  color: #03B4CE;
  margin-bottom: 30px;
}
.signup-form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}
.signup-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #03B4CE;
}
.signup-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
}
.signup-form input::placeholder {
  color: #999;
}
.signup-form button {
  width: 50%;
  padding: 10px;
  background-color: #004E59;
  color: #03B4CE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.signup-form button:hover {
  background-color: #03B4CE;
  color: #004E59
}
.signup-form a {
  color: #03B4CE;
}
.signup-form a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------------*/
/* Schedule CSS */
.schedule {
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
  width: 100vw;
}
.schedule-table {
  width: 100vw;
}